.slider-item__content{
    background:#fff;
    padding: 19px 21px;
    position: absolute;
    top: 14px;
    left:0;
}
.swiper-slide{
    max-width: 400px;
}
.slider-item__sale{
font-weight: 800;
font-size: 14px;
color: #7FAD39;
}
.slider-item__title{
    font-weight: 900;
    font-size: 17px;
    margin: 5px 0;
}
.slider-item__text{
    font-size: 18px;
    opacity: 0.6;
}
.slider-item__btn{
    padding: 10px 15px;
    background: #7FAD39;
    color: #fff;
    font-family: Rubik Wet Paint;
    position: absolute;
    bottom: 14px;
    right:70px;
    border:none; 
}