h5{
    color: #7FAD39;
    font-size: 14px;
    margin: 0 0 10px 0;
    font-weight: 800;
}    
.vege{
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 40px 0;
}
.vegefruit{
    margin: 40px 0 0 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}
.vegefruit-item{
    flex: 1 0 calc((100% - 40px) / 5);
    max-width:226px;
    background: #fff;
    padding: 20px;
    border: 0.5px solid rgba(42, 42, 42, 0.15);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06);
}
.vegefruit-item__top{
    display: flex;
    justify-content: space-between;
}
.vegefruit-item__pacent{
    background: #7FAD39;
    font-size: 12px;
    width: 59px;
    height: 25px;
    text-align: center;
    padding: 8px 0;
    color:#fff;
}
.vegefruit-item__middle{
    margin: 9px 0;
}
.vegefruit-item__text{
    text-align: center;
    margin: 0 0 19px 0;
}
.vegefruit-item__text-one{
    font-weight: 600;
    font-size: 12px;
    color: #A9A9A9;
    margin:  0 0 9px 0;
}
.vegefruit-item__text-sec{
    font-weight: 800;
    font-size: 19px;
}
.vegefruit-item__price{
    color: #7FAD39;
    text-align: center;
    margin: 0 0 27px 0;
    span{
        color:#000;
        opacity: 0.5;
        margin: 0 0 0 5px;
        text-decoration: line-through;  
    }
}
.vegefruit-item__btn{
    display: flex;
    justify-content: space-between;
}
.vegefruit-item__left{
    display: flex;
}
.vegefruit-item_one{
    padding: 6px 8px;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    color: #2A2A2A;
}
.vegefruit-item__korzina{
    width: 20px;
    height: 20px;
}
@media (min-width:320px) and (max-width:963px){
    h5{
        text-align: center;
    }
    .vege{
        text-align: center;
    }
    .vegefruit{
        display: flex;
        justify-content: center;
    }
}
@media (min-width:964px) and (max-width:1199px){
    h5{
        text-align: center;
    }
    .vege{
        text-align: center;
    }
    .vegefruit{
        display: flex;
        justify-content: center;
    }
}