include ../mixins/added-item.pug
h6 For You
.new Added new Products
section.added
    +added-item('./assets/imgs/imbir.jpg','Ginger')
    +added-item('./assets/imgs/inzhir.jpg','Two fresh figs')
    +added-item('./assets/imgs/srawb.jpg','Strawberry')
    +added-item('./assets/imgs/eggplant.jpg','Eggplant')
    +added-item('./assets/imgs/egg.jpg','Egg')