include ../mixins/category-block.pug

h2.subtitle 
    span Shop bye 
    p.subtitle Categories
section.categories
    +category-block("./assets/imgs/apple.png", "Vegetables & Fruits")
    +category-block("./assets/imgs/shopping.png", "Grocery & Staples") 
    +category-block("./assets/imgs/milk.png", "Dairy & Eggs") 
    +category-block("./assets/imgs/milkk.png", "Beverages") 
    +category-block("./assets/imgs/burger.png", "Snacks") 
    +category-block("./assets/imgs/dom.png", "Home Care")