footer.footer 
    .footer__container.container
        .footer__row 
            .footer__contact   
                img(src="./assets/imgs/footer.png", alt="logo")
                .footer__address
                    p  Addressspan : 60-49 Road 11378 New York
                    p Addressspan Phone: +65 11.188.888
                    p Email: hello@colorlib.com
            .footer__use
                ul.footer__list     
                    li 
                        a(href="#") Useful link
                    li
                        a(href="#") About Us
                    li 
                        a(href="#") About Our Shop
                    li 
                        a(href="#") Delivery infomation
                    li 
                        a(href="#") Privacy Policy
                    li 
                        a(href="#") Our Sitemap
            .footer__home
                ul.footer__list-sec 
                    li 
                        a(href="#") HOME
                    li
                        a(href="#") Product
                    li 
                        a(href="#") Contact
                    li 
                        a(href="#") STORES
            .footer__download   
                p.footer__title Download App
                button.footer__app  
                    img(src="./assets/imgs/app.svg", alt="")
                button.footer__app  
                    img(src="./assets/imgs/google.svg", alt="")    
                .footer__subtitle Newsletter
                form(action='#').footer__form
                    input.footer__input(type='text' placeholder='enter email address')
                    button.footer__button SUBSCRIBE
                .footer__text Payment Method
                ul.footer__icon     
                    li 
                        a(href="#")
                            img(src="./assets/imgs/Visa.jpg", alt="")
                    li 
                        a(href="#")
                            img(src="./assets/imgs/MasterCard.jpg", alt="")
                    li 
                        a(href="#")
                            img(src="./assets/imgs/Maestro.jpg", alt="")
                    li 
                        a(href="#")
                            img(src="./assets/imgs/Cirrus.jpg", alt="")
                    li  
                        a(href="#")
                            img(src="./assets/imgs/AmericanEx.jpg", alt="")