header.header
    .header__container
        .heeader__row
            img(src="./assets/imgs/log.png", alt="").header__logo
            p.header__mail Hello@colorlib.com
            p.header__price Free Shipping for all order of $99
            ul.header__list     
                li 
                    a(href="#")
                        img(src="./assets/imgs/facebook.png", alt="")
                li
                   a(href="#")
                        img(src="./assets/imgs/call.png", alt="")
                li 
                     a(href="#")
                        img(src="./assets/imgs/linkin.png", alt="")
                li 
                     a(href="#")
                        img(src="./assets/imgs/twitter.png", alt="")