.menu
    .menu__container
        .menu__row
            .menu__left
                img(src="./assets/imgs/logo.png").menu__logo
                img(src="./assets/imgs/guru.png", alt="").menu__map
                img(src="./assets/imgs/search.png", alt="").memu__search
                input(type="text"  placeholder="Search for products...").menu__input
            .menu__right
                img(src="./assets/imgs/tele.png", alt="").menu__tele
                p.menu__number 1800-000-000
                .menu__line
                img(src="./assets/imgs/heart.png", alt="").menu__heart
                .menu__line
                img(src="./assets/imgs/man.png", alt="").menu__man
                p.menu__name John Doe
                img(src="./assets/imgs/mark.png", alt="").menu__mark