include ../mixins/products-item.pug
h3 For You
.top Top Featured Products

section.products
    +products-item('./assets/imgs/persik.jpg', 'Fresh organic apricot')
    +products-item('./assets/imgs/cucumber.jpg', 'Cucumber')
    +products-item('./assets/imgs/nuts.jpg', 'Hazelnuts filbert nut')
    +products-item('./assets/imgs/broccoli.jpg', 'Raw Broccoli')
    +products-item('./assets/imgs/pear.jpg', 'Organic quince')