section.select
    .select__container
        .select__row
            .select__left
                img(src="./assets/imgs/select.png", alt="").select__image
                ul.select__list     
                    li
                        a(href="#") HOME
                    li
                        a(href="#") Product 
                    li 
                        a(href="#") Stores
                    li 
                        a(href="#") CONTACT
            button.select__btn CART 2