include ../mixins/slider-item.pug


slider
    .swiper
        .swiper-wrapper
            .swiper-slide
                +slider-item({
                    img: "./assets/imgs/lemonade.jpg",
                    sale: "6% OFF",
                    title:'Buy More & Save More', 
                    text: 'Fresh & Vegetables'
                })
            .swiper-slide
                +slider-item({
                    img: "./assets/imgs/funduk.jpg",
                    sale: "6% OFF",
                    title:'Buy More & Save More', 
                    text: 'Fresh & Vegetables'
                })
            .swiper-slide
                +slider-item({
                    img: "./assets/imgs/vege.jpg",
                    sale: "6% OFF",
                    title:'Buy More & Save More', 
                    text: 'Fresh & Vegetables'
                })
            .swiper-slide
                +slider-item({
                    img: "./assets/imgs/eggs.jpg",
                    sale: "6% OFF",
                    title:'Buy More & Save More', 
                    text: 'Fresh & Vegetables'
                })                                 