include ../mixins/top-item.pug

h5 For You
.vege For You Vegetables & Fruits Products
section.vegefruit    
    +vegefruit-item('./assets/imgs/apls.jpg', 'Red apple')
    +vegefruit-item('./assets/imgs/perec.jpg','Capsicum-green')
    +vegefruit-item('./assets/imgs/pear.jpg','Pear fruit')
    +vegefruit-item('./assets/imgs/blueberry.jpg', 'Blueberry')
    +vegefruit-item('./assets/imgs/raspberry.jpg','Fresh raspberry')