include ../mixins/values-item.pug

h4 Offers
.best Values
section.values
    +values-item('./assets/imgs/avocado.png','Daily Essentials','20% Off Everyday')
    +values-item('./assets/imgs/orange.png','GET UP TO','30% OFF')
    +values-item('./assets/imgs/cherry.png','Special Discount','For All Items')
.values__bottom
    img(src="./assets/imgs/juc.png", alt="")