mixin values-item(img, title, text)
    .values-item
        img(src=img, alt="")
        .values-item__block 
            p.values-item__title=title
            p.values-item__sub=text  
            button.values-item__button SHOP NOW